process {
    executor = 'slurm'
    maxRetries = 1
    errorStrategy = { task.attempt < 3 ? 'retry' : 'ignore' }

    withName: prodigal {
        label = 'process_low'
        cpus   = 1
        memory = { 8.GB * task.attempt }
        time   = { 1.days * task.attempt }
        container = "quay.io/biocontainers/prodigal:2.6.3--h516909a_2"
    }
    withName: hmmscan {
        label = 'mini'
        cpus   = 4
        memory = { 8.GB * task.attempt }
        time   = { 2.hours * task.attempt }
        container = "quay.io/biocontainers/hmmer:3.4--hdbdd923_1"
    }
    withName: nfix_annotate {
        label  = 'tiny'
        cpus   = 1
        memory = { 2.GB * task.attempt }
        time   = { 30.minutes * task.attempt }
        container = "mahdirobbani/nfixplanet:0.1.6"
    }
}

docker {
    enabled = true
}

params {
    input       = null
    output_dir  = null
    hmm_profile = null
}